<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Forum - Post List</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <script>
        // axios.get("/post/getPostsById",{params:{id:"1"}}).then(res=>{
        //     console.log(res);
        // })
    </script>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        header nav {
            margin: 20px 0 0 0 ;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
        }

        nav ul li {
            display: inline;
            margin-right: 10px;
        }

        nav ul li a {
            color: #fff;
            text-decoration: none;
        }

        main {
            margin: 20px;
        }

        section {
            margin-bottom: 20px;
        }

        h2 {
            margin: 0 0 10px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
            border: 1px solid #ccc;
            padding: 10px;
        }

        li:hover {
            background-color: #f4f4f4;
        }

        #post-list{
            width: 100%;
        }
        .post-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }

        .post-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .post-content {
            margin-bottom: 5px;
        }

        .post-meta {
            color: #777;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: -10px;
        }
        .main{
            width: 50%;
            margin:  30px 25%;
        }
        .btn-follow{
            background-color: #1DA1F2;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
        }
        .btn-follow:hover{
            background-color: #0C8FD6;
        }
        .post-user{
            font-size: 24px;
        }
        .post-user .post-time{
            font-size: 14px;
            font-weight: 400;
            margin-left: 5px;
        }
        .post-item{
            padding: 20px;
        }
        .post-level{
            font-size: 12px;
            font-weight: 700;
            width: 40px;
            height: 12px;
            line-height: 12px;
            background-color: gold;
            color: #fff;
            margin-left: 5px;
        }
        .post-img{
            width: 300px;
            height: 300px;
            margin-bottom: 20px;
        }
        .post-type{
            font-size: 12px;
            font-weight: 700;
            height: 16px;
            /* width: 34px; */
            padding: 3px;
            line-height: 12px;
            background-color:#1DA1F2;
            color: #fff;
            margin-left: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    </style>
</head>
<body>
    <header>
        <h1>米哈游社区</h1>
        <nav>
            <ul>
                <li><a href="#">首页</a></li>
                <li><a href="#">登录</a></li>
                <li><a href="#">新闻</a></li>
                <li><a href="#">角色</a></li>
                <li><a href="#">世界</a></li>
                <li><a href="#">漫画</a></li>
                <li><a href="#">社区</a></li>
                <li><a href="#">信使</a></li>
                <li><a href="#">版本更新</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <section id="post-list">
            <ul>
                <% for(var i=0; i<list.length; i++) {%>
                <% let item = list[i] %>
                <li class="post-item">
                    <div class="post-info" >
                        <div class="post-user">
                            <%= item.truthName   %> 
                            <span class="post-level"> Lv<%= item.level %> </span> 
                            <span class="post-time"> <%= item.releaseTime %> </span> 
                        </div>
                        <div class="btn-follow">
                            关注
                        </div>
                    </div>
                    <div href="#" class="post-title"> <%= item.title  %></div>
                    <p class="post-content"> <%= item.content  %> </p>
                    <img src="/posts/<%= item.img %>" class="post-img"/>
                    <div class="post-meta">
                        <div class="post-type"><%= item.detailType %> </div> 
                        <div>
                            <i class="fa fa-eye" aria-hidden="true"></i> <%= item.views  %>  <i class="fa fa-thumbs-up" aria-hidden="true"></i>  <%= item.like  %> | <i class="fa fa-comment" aria-hidden="true"></i> <%= item.like  %>
                        </div>

                    </div>
                </li>
                <% } %>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Community Forum. All rights reserved.</p>
    </footer>
</body>
</html>
